name: Unit Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, release/* ]
  merge_group:
    branches: [ main ]

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true


jobs:
  lint:
    strategy:
      matrix:
        python-version: [ "3.12" ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Set up Python
        run: uv python install

      - name: Lint
        run: |
          uv sync --frozen --only-group lint
          make check-ruff

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: ShellCheck
        uses: ludeeus/action-shellcheck@master

  shfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup shfmt
        uses: mfinelli/setup-shfmt@v3
      - name: Run shfmt
        run: shfmt -i 2 -d .

  check-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run check-version
        run: make check-version

  changelog:
    runs-on: ubuntu-latest
    steps:
      # need to checkout otherwise paths-filter will fail on merge-queue trigger
      - uses: actions/checkout@v4
      - if: github.ref != 'refs/heads/main'
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - 'unstructured_ingest/**'

      - if: steps.changes.outputs.src == 'true' && github.ref != 'refs/heads/main'
        uses: dangoslen/changelog-enforcer@v3


  test_ingest_help:
    environment: ci
    strategy:
      matrix:
        python-version: [ "3.12" ]
    runs-on: ubuntu-latest
    needs: [ lint ]
    steps:
      - uses: 'actions/checkout@v4'

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Validate --help
        run: |
          pip install .
          PYTHONPATH=. python ./test_e2e/test-help.py
          PYTHONPATH=. python ./test_e2e/test-help.py --local-code

  test_install_cli:
    environment: ci
    strategy:
      matrix:
        python-version: [ "3.12" ]
    runs-on: ubuntu-latest
    needs: [ lint ]
    steps:
      - uses: 'actions/checkout@v4'
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install local deps
        run: |
          pip install .
      - name: Validate --help
        run: |
          unstructured-ingest --help

  test_ingest_unit:
    strategy:
      matrix:
        python-version: [ "3.12" ]
    runs-on: ubuntu-latest
    needs: [ lint ]
    steps:
      # actions/checkout MUST come before auth
      - uses: 'actions/checkout@v4'

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Set up Python
        run: uv python install

      - name: Test Ingest (unit)
        run: |
          uv sync --group test --frozen
          make test-unit

  test_ingest_unit_unstructured:
    strategy:
      matrix:
        python-version: [ "3.12"]
    runs-on: ubuntu-latest
    env:
      NLTK_DATA: ${{ github.workspace }}/nltk_data
    needs: [ lint ]
    steps:
      # actions/checkout MUST come before auth
      - uses: 'actions/checkout@v4'

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Set up Python
        run: uv python install

      - name: Test Ingest (unit)
        run: |
          uv sync --group test --frozen
          uv pip install unstructured
          uv run python -m nltk.downloader -d $NLTK_DATA punkt_tab averaged_perceptron_tagger_eng
          make test-unit-unstructured
